@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<h2 class="text-info mt-5 pb-4">Wszyscy Klienci</h2>
<div class="table-responsive">
    <table class="table align-middle table-bordered table-striped">
        <tr class="align-middle">
            <th class="align-middle">Adres</th>
            <th class="align-middle">Miasto</th>
            <th class="align-middle">Imie</th>
            <th class="align-middle">Nazwisko</th>
            <th class="align-middle">Pesel</th>
            <th class="align-middle">Telefon</th>
            <th class="align-middle">E-mail</th>
            <th></th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td class="align-middle">@Model.Rows[i][1]</td>
                <td class="align-middle">@Model.Rows[i][2]</td>
                <td class="align-middle">@Model.Rows[i][3]</td>
                <td class="align-middle">@Model.Rows[i][4]</td>
                <td class="align-middle">@Model.Rows[i][5]</td>
                <td class="align-middle">@Model.Rows[i][6]</td>
                <td class="align-middle">@Model.Rows[i][7]</td>
                <td class="align-middle">
                    <a href="@Url.Action("Edit", "Klient", new {@id = @Model.Rows[i][0] })">Edycja</a>
                </td>
                <td class="align-middle">
                    <a href="@Url.Action("Delete", "Klient", new {@id = @Model.Rows[i][0] })">Usuń</a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="mt-4 pb-5">
    <a href="@Url.Action("Create", "Klient")">Dodaj Klienta</a>
</div>